:root{
    --primary: #2124f1;
    --light: #ffffff;
    --grey: rgb(240, 240, 240);
    --footer: rgb(189, 189, 189);
}

body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: var(--primary);
}

.card-text{
    color: black;
}

.card-title{
    color: #000;
    font-size: 22px;

}

.icons{
    color: rgba(255, 251, 7, 0.959);
}

.iconsClose{
    color: red;
}

.bg

a:hover{
    text-decoration:none;
}

.bg-primary{
    background-color: var(--primary) !important;
}
.bg-light{
    background-color: var(--light) !important;
}

.bg-grey{
    background-color: var(--grey) !important;
}

.bg-footer{
    background-color: var(--footer) !important;
}

.btn{
    border:0;
}

.btn-primary{
    background-color: var(--primary) !important;
}

.btn-primary:hover{
    background-color: var(--primary) !important;
}

.bg-mix{
    background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

#sidebar-container {
    min-height: 100vh;

}

#sidebar-container .logo {
    padding : .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

.btn-search{
    right: 5px;
}

.avatar {
    max-width: 25px;
}

#content{
    overflow: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.stat{
    border-right: 1px solid var(--grey);
}

@media(max-width: 700px){
    #sidebar-container{
        display: none;
    }
    .stat{
        border: 0;
    }
}